@import 'papercss/dist/paper.css';

:root {
	--font-body:
		Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	font-family: var(--font-body);
	--font-size-small: 1rem;
	--font-size-base: 1.1rem;
	--primary: white;
	--main-background: rgba(0, 0, 0, 0.5);
}

html {
	background-color: #565656;
}

body {
	min-height: 100vh;
	margin: 0;
	background-image: url('/geometry-dark.png');
	font-size: var(--font-size-base);
}

a {
	color: inherit;
}
